.markdown-body blockquote {
    font-style: italic;
    color: black;
    border-left: 0.25em solid lightgrey
}

.markdown-body hr {
    height: 1px;
    background-color: lightgrey;
}

.markdown-body .left {
    position: fixed;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: whitesmoke;
    overflow: scroll;
    padding: 15px;
}

.markdown-body .right {
    position: fixed;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: transparent;
}

.markdown-body iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.art {
    color: blue;
}

.wrd {
    color: grey;
}